body{
    margin: 0px;
}
#header{
    height:80px;
    width: 100%;
    background-color: rgb(0,0,0,0.6);
    position: fixed;
    top: -10px;
    z-index: 6;
	

}
.special{
	float:right;
}

.logo{
width:30%;
height:70px;
float:left;

color:white;
padding-top:10px;
font-size:40px;
}
.logo img{
	margin-top:10px;
	margin-left:50px;
	height:50px;
}



.nav{
float:left;

width:70%;
padding-top:20px;
height:auto;
}
ul{
list-style:none;
padding:0;
margin:0;
}
ul li{
position:relative;
float:left;
margin-top:0px;
}
.nav ul li a{
color:white;
display:block;
text-decoration:none;
font-size:18px;
text-align:center;
padding:10px 25px 10px 25px;
font-family:century gothic;
font-weight:bold;
}
.nav a:hover{
color:rgb(0,0,0);
background:white;
opacity:.5;
transition:.4s;
}
ul li ul{
background:black;
}
ul li ul li{
float:none;
}
ul li ul{
display:none;
}
ul li:hover ul{
display:block;
}
.lg{
	border:1px solid white;
	margin-left:2px;
	margin-right:5px;
}

