*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(../images/1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

#container{   
    margin: 20% 2% 10% 2%;
    background-color: rgba(74, 104, 131, 0.956);
    padding: 5%;
}
#container>h1{
    font-size: 50px;
    margin: 2px 35%;
    border-radius: 5px;
    background-color: rgba(48, 48, 41, 0.541);
    color: rgb(224, 212, 212);
}
.container{
    padding-top: 5%;
    display: flex;
}
.p2{
    margin-top: 2%;
}

.law{
    margin: 5% 0px;
    padding: 5% 10%;

}

.l1{
    border-right: 1px solid rgba(41, 79, 110, 0.938);
}

.l1:hover{
    box-shadow: 2px 3px 5px 2px rgba(40, 74, 102, 0.938) ;
    
}

.l2:hover{
    box-shadow: -5px 5px 7px 2px rgba(40, 74, 102, 0.938) ;
    
}

h4{
    font-size: 23px;
    text-align: end;
    padding: 1.5%;
    margin: 1% 0px 1% 76%;
    font-weight: normal;
    border-radius: 5px;
    border: 1px solid black;
}
h2{
    font-size: 28px;
    font-family: cursive;
    margin-bottom: 1%;
}

p{
    text-align: center;
    margin-left: 1%;
    margin-right: 8%;
    font-size: 20px;
    font-family: 'Arial Narrow';
}
h4:hover{
    background-color: black;
    color: rgba(74, 104, 131, 0.956);
}

a{
    text-decoration: none;
    color: black;
}

#read:active{
    background-color: black;
    color: rgba(74, 104, 131, 0.986);
}