.question{
    font-size: 30px;
    color: black;
    padding-bottom: 25px;
}
.answer{
    /*color: rgb(252, 189, 146);
    font-size: 24px;
    text-shadow: 1px 1px 4px black;
    font-weight: bolder;*/
	color: black;
    font-size: 20px;
   
}
.QnA{
    margin:15px 30px;
    background-color: rgba(240, 236, 206, 0.911);
    width: 85%;
    border-radius: 20px;
    padding:30px;
    border: 2px solid  rgba(214, 214, 214, 0.842);
    box-shadow: 3px 4px 5px 3px rgba(214, 214, 214, 0.842);
}