*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(../images/services.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-top: 20%;
    background-color: rgba(74, 104, 131, 0.966);
}

#form{
    flex: 2;
}

.wrapper{
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 10px 5%;
}

.wrapper>h1{
    margin-bottom: 10%;
    background-color: seashell;
    color: rgba(74, 104, 131, 0.946);
    font-size: 44px;
}

.one,.two{
    text-align: left;
    margin-bottom: 20px;
}

.one>h2,.two>h2{
    margin-bottom: 5px;
    color: silver;
    font-size: 34px;
}


.one>p,.two>div>p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2%;
}

p>b{
    font-family: cursive;
}
